<h1>EnquiryModel List</h1>
<table border="2">
    <th>customerId</th>
    <th>firstName</th>
    <th>lastName</th>
    <th>age</th>
    <th>emailId</th>
    <th>mobileNumber</th>
    <th>adharNumber</th>
    <th>panCardNumber</th>
    <tr *ngFor="let e of elist">
        <td>{{e.customerId}}</td>
        <td>{{e.firstName}}</td>
        <td>{{e.lastName}}</td>
        <td>{{e.age}}</td>
        <td>{{e.emailId}}</td>
        <td>{{e.mobileNumber}}</td>
        <td>{{e.adharNumber}}</td>
        <td>{{e.panCardNumber}}</td>
        <td><button class="btn btn-primary" (click)="forword" type="submit">Check Cibil</button></td>
        <td><button class="btn btn-primary" (click)="forword" type="submit">Verify</button></td>
    </tr>
</table>
